.outputBody {
	background: #19AC9D;
}

.ticker {
	max-height: 600px;
	border: 2px solid #E5F9E0;
	overflow: hidden;
	border-radius: 12px;
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;	
	 position: relative;
 	top: 50%;
  	transform: translateY(-50%);
  	.innerWrap {
  		width: 100%;
	  	.list {
	  		position: relative;
	  		width: 100%;
			border: 2px solid #E5F9E0;  		
	  		color: #E5F9E0;
	  		font-size: 28px;
		  	strong {
				text-decoration: underline;
		  	}
		  	p {

		  	}	
	  	}
  	}
}